/*

    Autor:          Dominik Werder
    Datum:          03.01.2021

    Colors:

*/

/* body */
body {
    padding-left: 10px;

}



/* navbar */

.navbar {
    background: blue;
}



h1 {
    color: green;
}