{% include "html_head.html" %}
<body>
    {% include "navigation.html" %}

    <h1>XPENSE Dashboard</h1>
    <hr class="line">
    <h2>Einnahmen</h2>
    {% if income_transactions %}
    <table class="center table table-striped table-borderless w-50">
        <thead class="thead-dark">
            <tr>
                <th>Wann</th>
                <th>Was</th>
                <th>Kategorie</th>
                <th>Betrag</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction, data in income_transactions.items() %}
        <tr>
            <td>{{ data["datetime"] }}</td>
            <td>{{ data["title"] }}</td>
            <td>{{ data["category"] }}</td>
            <td>{{ data["amount"] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Keine Einnahmen erfasst</p>
    {% endif %}
    <br><br>

    <h2>Ausgaben</h2>
    {% if expenses_transactions %}
    <table class="center table table-striped table-borderless w-50">
        <thead class="thead-dark">
            <tr>
                <th>test</th>
                <th>Wann</th>
                <th>Was</th>
                <th>Kategorie</th>
                <th>Betrag</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction, data in expenses_transactions.items() %}
        <tr>
            <td><div class="dot" style='background-color: {{ expenses_categories[data["category"]]["color"] }}'></div></td>
            <td>{{ data["datetime"] }}</td>
            <td>{{ data["title"] }}</td>
            <td>{{ data["category"] }}</td>
            <td>{{ data["amount"] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Keine Ausgaben erfasst</p>
    {% endif %}





    <h2>Überblick</h2>
    {% if statistics %}
    <table class="center table table-dark table-borderless w-50">
        <thead>
            <tr>
                <th>Kategorie</th>
                <th>Betrag</th>
            </tr>
        </thead>
        <tbody>
        {% for key, value in statistics.items() %}
        <tr>
            <td>{{ key }}</td>
            <td><b>CHF {{ value }}</b></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}





    <br><br>
</body>

{% include "footer.html" %}

</html>