{% include "html_head.html" %}
<body>
    {% include "navigation.html" %}

    <h1>XPENSE Dashboard</h1>
    <hr class="line">

    <h2>Einnahmen</h2>
    {% if income_transactions %}
    <table class="center table table-striped table-borderless w-50">
        <thead class="thead-dark">
            <tr>
                <th class="col-3">Kategorie</th>
                <th class="col-3">Was</th>
                <th class="col-3">Wann</th>
                <th class="col-3">Betrag</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction, data in income_transactions.items() %}
        <tr>
            <td><div class="d-flex"><div class="dot d-inline-block" style='background-color: {{ income_categories[data["category"]]["color"] }}'></div><div style="padding-left: 10px" class="d-inline-block">{{ data["category"] }}</div></div></td>
            <td>{{ data["title"] }}</td>
            <td>{{ data["datetime"] }}</td>
            <td>CHF {{ data["amount"] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Keine Einnahmen erfasst</p>
    {% endif %}


    <h2>Ausgaben</h2>
    {% if expenses_transactions %}
    <table class="center table table-striped table-borderless w-50">
        <thead class="thead-dark">
            <tr>
                <th class="col-3">Kategorie</th>
                <th class="col-3">Was</th>
                <th class="col-3">Wann</th>
                <th class="col-3">Betrag</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction, data in expenses_transactions.items() %}
        <tr>
            <td><div class="d-flex"><div class="dot d-inline-block" style='background-color: {{ expenses_categories[data["category"]]["color"] }}'></div><div style="padding-left: 10px" class="d-inline-block">{{ data["category"] }}</div></div></td>
            <td>{{ data["title"] }}</td>
            <td>{{ data["datetime"] }}</td>
            <td>CHF {{ data["amount"] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Keine Ausgaben erfasst</p>
    {% endif %}


    <h2>Überblick</h2>
    {% if statistics %}
    <table class="center table table-dark table-borderless w-50 mb-5">
        <thead>
            <tr>
                <th class="col-9">Kategorie</th>
                <th class="col-3">Betrag</th>
            </tr>
        </thead>
        <tbody>
        {% for key, value in statistics.items() %}
        <tr>
            <td>{{ key }}</td>
            <td><b>CHF {{ value }}</b></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

</body>
{% include "footer.html" %}
</html>