{% include "html_head.html" %}
<body>
    {% include "navigation.html" %}

    <h1>Welcome to your Expense Tracker</h1><br><br>
    <h2>Neue Einnahmen erfassen</h2>
   <form method="post">
        <label for="eingabe_transaction_title">Titel:</label>
        <input type="text" id="eingabe_transaction_title" name="transaction_title">
       <br>

       <label for="eingabe_transaction_amount">Deine Einnahme:</label>
       <input type="number" step=".05" id="eingabe_transaction_amount" name="transaction_amount">
       <br>
        <label for="transaction_category">Kategorie:</label>
        <select name="transaction_category" id="transaction_category" class="form-select" aria-label="">
            {% for category, data in income_categories.items() %}
                <option>{{ data["name"] }}</option>
            {% endfor %}
        </select><br><br>

       <input type="submit" value="erfassen"><br><br>
    </form>

<br>
    <h3>Kategorien</h3>
    <h4>Kategorie erstellen:</h4>
    <form method="post">
        <label for="eingabe_kategorie_name">Name:</label>
        <input type="text" id="eingabe_kategorie_name" name="category_name">
        <br>

        <input type="submit" value="erstellen">
    </form>
    <br>
    <h4>Alle Kategorien:</h4>
    {% if income_categories %}
        <table border="1">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for category, data in income_categories.items() %}
                <tr>
                    <td>{{ data["name"] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Noch keine Kategorien vorhanden</p>
    {% endif %}

</body>

{% include "footer.html" %}

</html>